[submodule "source/.vim/bundle/nerdtree"]
	path = source/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "source/.vim/bundle/vim-airline"]
	path = source/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "source/.vim/bundle/vim-colors-solarized"]
	path = source/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "source/.vim/bundle/vim-fugitive"]
	path = source/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "source/.vim/bundle/vim-gitgutter"]
	path = source/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "source/.vim/bundle/tagbar"]
	path = source/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
